.profile {
  width: 700px;
  height: 461px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-title {
  font-size: 60px;
}
.datas {
  display: flex;
  align-items: center;
}
.data {
  margin-right: 150px;
  margin-left: 40px;
}
.titles {
  color: gray;
}
.last-name {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background-color: #0000ff;
  border: 8px solid #bfbfff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
}
.profile-edit {
  color: blue;
  text-decoration: none;
}
.profile-logout {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 18px;
}
.logout{
    text-decoration: none;
    color: blue;
}
